.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


body{
	margin: 0px;
	font-family: montserrat, sans-serif;
}

#header {
	background-image: url("fond1.jpg");
	background-attachment: fixed;
	text-align: center;
	text-transform: uppercase;
	padding: 100px 0px;

}

h1{
	font-weight: lighter;
	font-size: 24px;
	margin-bottom: 10px;
}

ul{
	margin-bottom: 120px;
	font-weight: lighter;
	font-size: 12px;
	width: 550px;
	margin: 60px auto 300px auto;
}

li{
	float: left;
	width: 23%; 
    margin-right: 2%;
    list-style: none;
}

a{
	text-decoration: none;
	color: black;
}

#soustitre{
	border: solid black 1px;
	padding: 10px;
	font-size: 14px;
	width: 350px;
	margin: auto;
	margin-bottom: 125px;
}


#projet{
	width: 800px;
	padding: 70px 0;
	margin: auto;
}

h2{
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
}


h3{
	font-size: 12px;
	text-align: center;
	margin-bottom: 70px;
	text-transform: uppercase;
}

img{
	float: left;
	display: block;
	width: 30%; 
    margin-right: 3.33%;
}


#histoire{
	background-color: #E8E3DF;
	padding: 70px 0px;
}

p{
	width: 800px;
	margin: auto;
	font-size: 12px

}


br{
	line-height: 2;
}

#cv{
	padding: 200px;
	background-image: url("fond2.jpg");
	background-attachment: fixed;
}

#bouton{
	border: solid black 1px;
	padding: 10px;
	font-size: 14px;
	width: 280px;
	margin: auto;

}

#contact{
	width: 500px;
	margin: 70px auto;
}


input{
    padding: 5px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
	display: block;
	width: 48%; 
}

#name{
	margin-right: 2%;
}
#mail{
	margin-left: 2%;
}

textarea{
	width: 100%;
	border-color: black;
	padding: 5px;
	display: block;
	box-sizing: border-box;

}

button{
	margin: 20px 0;
	border-color: black;
	padding: 5px;
}